
@keyframes entrace{
    from{
        transform:scale(0);
    }
}

.display{
    margin: 1px;
    animation:.5s ease-in-out entrace ;
    text-transform: uppercase;
    font-family: 'Lexend Peta', sans-serif;
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    border-radius: 50px;
    transition: background-color .5s;
}.display:hover{
    background-color: #dbd9d9;
}

.displayLink{
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin: 0 20px;
}

.pokemonImg{
    width: 20%;
    margin: 0 auto;
    cursor: pointer;
    padding:.5rem;
    transition: transform .3s;
}.pokemonImg:hover{
    transform: scale(1.2);
}

.display a{
  
    color: black;
    padding:.5rem;
}


